<!-- 
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Example Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main">
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-button>Toggle Menu</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </div> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets\heart.png" alt="heart image">
      
      <ion-card-title>Health check</ion-card-title>
      <ion-card-subtitle>Home page</ion-card-subtitle>
    </ion-card-header>
  
    <!-- <ion-card-content>
      
      <ion-button  color="danger" (click)="insertNewData()">Insert new data</ion-button>
      <br>

      <ion-button  color="danger" (click)="checkTrends()">Check trends</ion-button>
      <br>
    </ion-card-content> -->
  </ion-card>
